/* Theme color: #3b98f7 */
html,*,body{
    font-family: poppins;
}
body{
    background-color: #e5eaeb;
    font-weight: 300;
    font-size: 16px;
}
footer{
    font-size: 13px;
}
h1{
    padding-bottom: 4rem;
}
input:not([type=checkbox]), select{
    height: 48px!important;
}
small.status_input{
    color:rgb(2, 1, 1);
}
.btn{
    /* height: 48px; */
    padding: 0.5rem;
    font-size: 12px;
}
.btn-submit{
    background-color: #3b98f7;
    color: #fff;
}
footer{
    background-color: #fff;
    min-height: 10rem;
}
.alert-error{
    border:none;
    padding:2rem 1rem;
    border-radius:0.5rem;
    background:#ce1515;
    box-shadow:3px 4px 11px 5px #c5c5c5;
}
.alert-success{
    border:none;
    padding:2rem 1rem;
    border-radius:0.5rem;
    background:#17ac87;
    box-shadow:3px 4px 11px 5px #c5c5c5;
}
.alert{
    position: fixed;
    top: calc(50% - 45px);
    margin: auto;
    right: calc(50% - 200px);
    min-width: 25rem;
    z-index: 1000;
}
.bg-color{
    background-color:#126bb4;
    color:#fff;
}
.d-none{
    display: none!important;
}
.indicator-box{
    background-color: #25c696;
    padding: 0.5rem;
    /* width: 200px; */
    margin: auto;
    color: #fff;
    border-radius: 6px;
    font-size: 12px;
}
.working_img > img{
    width: 100%;
}
.render{
    cursor:pointer
}
/* .mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mb-3{
    margin-bottom: 3rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
} */