
section.template .default_template, section.template .render{
    /* width:20rem; */
    max-width: 55rem;

}
section.template .default_template > img, section.template .render > img{
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

section.template .default_template img:hover, section.template .render img:hover{
    box-shadow:-2px -2px 14px 4px #f6f6f6;
}
section.template .title{
    /* background: #000000; */
     /* background: #4cb7b7; */
     background: #3b98f7;
     padding: 3rem 2rem;
    color: #fff;
}
.card{
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
}
/* navigation */
nav {
    padding-top: 2rem;
    /* box-shadow: -1px 3px 20px 0px #424242; */
    padding-bottom: 1rem;
    box-shadow:0px -7px 16px 5px #a4a4a4;  
  }
  nav div.logo {
    display: initial;
  }
  nav div.nav-menu {
    float: right;
    padding-top: 1rem
  }
  nav div.nav-menu ul li,
  .footer-menu ul li {
    text-align: left;
    vertical-align: middle;
    padding-left: 0px !important;
    display: inline-flex;
  }
  nav div.nav-menu ul li a.li-link {
    padding: 0.2rem 1rem;
    font-weight: 300;
    color: #333333;
  }